#topbar{
	   position:fixed;
	   top:0;
	   left:0;
	   width:100%;
	   height:60px;
	   background-color:black;
	   color: #DAA520;
	   text-align: center;
	   font-size: 200%;

}

body{
	background-color: #DAA520;
}
a:link {
    color: #DAA520;
    text-decoration: none;
}

a:visited {
    color: #DAA520;
}


a:hover {
    color: #DAA520;
}


a:active {
    color: #DAA520;
}

.content {
	width:80%;
	margin:0 auto;

}
.Regisration {
	width: 34%;
	text-align:center;
	margin: 0 auto;
	margin-top:5%;
	background:#20252D;
	border-radius:7px;
	-webkit-border-radius:7px;
	-moz-border-radius:7px;
	-o-border-radius:7px;
	padding-bottom: 3px;

}

.Regisration-head {
	 border-top-left-radius:7px;
	-webkit-border-top-left-radius:7px;
	-moz-border-top-left-radius:7px;
	-o-border-top-left-radius:7px;
	border-top-right-radius:7px;
	-webkit-border-top-right-radius:7px;
	-moz-border-top-right-radius:7px;
	-o-border-top-right-radius:7px;
	text-align: center;
	padding:1.6em 0;
	border: 1px solid rgba(0, 0, 0, 0.37);
	box-shadow: 0px 4px 10px 0px rgba(1, 3, 12, 0.33);
	-webkit-box-shadow: 0px 4px 10px 0px rgba(1, 3, 12, 0.33);
	-o-	box-shadow: 0px 4px 10px 0px rgba(1, 3, 12, 0.33);
	-moz-box-shadow: 0px 4px 10px 0px rgba(1, 3, 12, 0.33);
	position: relative;
}
.Regisration-head span{
	background: url(../images/user-icon.png) no-repeat -5px -6px;
	position: absolute;
	top: 28%;
	left: 25%;
	height: 40px;
	width: 40px;
}
.Regisration-head h2{
	color: #DAA520;     /* This is the color of 'Register' */
	font-size: 33px;
	font-weight: 700;
	margin-left:20px;
	font-family: 'Raleway', sans-serif;

}
.Regisration form {
	text-align: center;
	margin:5% 0%;
	position:relative;
		
}
.Regisration form input[type="text"],.Regisration form input[type="password"]{
	font-size: 15px;
	outline: none;
	font-weight: 600;
	color:#8D8E8F;
	padding: 12px 12px;
	width:76%;
	border-top:1px solid #090B0D;
	border-right:2px solid #424549;
	border-bottom:2px solid #424549;
	border-left:1px solid #090B0D;
	margin: 10px 1em;
	border-radius:7px;
	-webkit-border-radius:7px;
	-moz-border-radius:7px;
	-o-border-radius:7px;
	background: #13161B;
	box-shadow: inset 0px 3px 0px 0px rgba(5, 5, 5, 0.15);
	-webkit-box-shadow: inset 0px 3px 0px 0px rgba(5, 5, 5, 0.15);
	-o-box-shadow: inset 0px 3px 0px 0px rgba(5, 5, 5, 0.15);
	-moz-box-shadow: inset 0px 3px 0px 0px rgba(5, 5, 5, 0.15);
	font-family: 'Raleway', sans-serif;

}
.Regisration form input[type="text"]:hover,.Regisration form input[type="password"]:hover{
	box-shadow: 0 0 1em #56AF00;
	-webkit-box-shadow: 0 0 1em #56AF00;
	-o-box-shadow: 0 0 1em #56AF00;
	-moz-box-shadow: 0 0 1em #56AF00;
}
