#topbar{
	   position:fixed;
	   top:0;
	   left:0;
	   width:100%;
	   height:60px;
	   background-color:black;
	   color: #DAA520;
	   text-align: center;
	   font-size: 200%;
}

body{
	background-color: #DAA520;
}
a:link {
    color: #DAA520;
    text-decoration: none;
}

a:visited {
    color: #DAA520;
}


a:hover {
    color: #DAA520;
}


a:active {
    color: #DAA520;
}